html, body {
    font-family: sans-serif; 
    font-size: 16px; 
    background: #F8FAFE;
    margin: 0;
} 

*:focus {
    outline:none;
}

.container {
    margin: auto;  
    max-width: 1400px;
    padding: 0 50px;
}

.a:link {
    color: #008CF0;
    text-decoration: none;
}

.a:hover {
    color: #F36223;
}

.a:active {
    color: #A93A09;
}

.table__caracteristic {
    border-collapse: collapse;
    min-width: 876px;
}

.table__caracteristic, .table__head {
    border: 1px solid #888888;
}

.table__data { 
    border-right: 1px solid #888888;;
}

.table__data, .table__head {
    padding: 10px;
}

.table__row_hovered:hover {
    background-color: #F0F0F0;
}

.btn:hover {
    cursor: pointer;
}

/******************** Шапка сайта********************/
.top { 
    margin-bottom: 19px;
    position: fixed; 
    top: 0;
    height: 80px;
    background: #F8FAFE;
    width: 100%;
    border-bottom: 1px solid #010541;
}

.top-inner{
    display: flex; 
    justify-content: space-between;
    margin: auto;  
    max-width: 1400px;
    padding: 0 50px;
}

.top-inner-left {
    display: flex; 
}

.top__img {
    width: 36.5px; 
    height: 43px; 
    margin-top: 18.5px; 
    margin-right: 8px;
}

.top__h1 {
    margin: 0;  
    margin-top: 19px; 
    line-height: 53px; 
    font-size: 44px;
}

.top__span {
    color: #F36223;
}

.top-inner-right {
    display: flex;
    flex-direction: row;
}
.basket, .heart { /*для родителя задаю relative*/
    position: relative;
}
.basket__img-basket, .heart__img-basket {
    width: 34px;
    height: 34px;
    position: relative;
    padding-top: 25px;
    padding-right: 37px;
}

.basket__img-round, .heart__img-round {
    width: 20px;
    position: absolute;
    top: 25px;
    left: 24px;
    display: none;
}

.basket__span, .heart__span {
    position: absolute;
    top: 26px;
    left: 29px;
    color: #ffffff;
    font-weight: 700;
}
/******************** Хлебные крошки ********************/
.navigation {
    margin-top: 100px;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 8px 0; 
    gap: 4px;
}

/******************** Фото товара ********************/  

.block-photo__h2 {
    font-size: 32px;
}

.iphone-blue-all-photo {
    display: flex;
    gap: 10px;
}

.iphone-blue__img {
    max-height: 387px; 
    max-width:100%;
} 

/******************** Главный контент ********************/  
.main-info {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/******************** Левый блок с описанием и отзывами ********************/  
.main-side {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}

.heading3 {
    font-size: 16px; 
    margin-top: 30px;
}

.color-images {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    padding: 0; 
    gap: 10px;
}

.color-images-border {
    width: 80px;
    height: 80px;
    outline: 1px solid #888888; 
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.color-images-border:hover {
    background: #F2F2F2; 
    cursor: pointer;
}

.color-images-border:active, .memory-btn__btn:active {
    outline: 2px solid #A93A09;
}

.checked-border {
    outline: 2px solid #F36223;
}

.color-images__img {
    width: 30.93px; 
    height: 60px;
}

.memory-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.memory-btn__btn {
    padding: 10px 20px;
    border-radius: 4px; 
    border: 1px solid #888888; 
    background: none;
}

.memory-btn__btn:hover {
    background: #F2F2F2;
}

.checked-btn {
    border: 2px solid #F36223;
}

.caracteristic-ul__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 20px;
    gap: 10px;
    padding-left: 25px;
    list-style-image: url("../images/marker.png");
} 

.caracteristic-text__p {
    line-height: 19.36px;
}

/************ отзывы ***********/
.all-reviews {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.head-reviews {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}

.head-reviews-h3__h3, .head-reviews-span__span {
    font-weight: 700;
    font-size: 24px
}

.head-reviews-h3__h3_no-margin {
    margin-top: 0;
}

.head-reviews-span__span{
    color:#aaaaaa;
}

.review {
    display: flex;
    gap: 30px;
}

.rating-img {
    display: inline-block;
}

.rating-img__gold-star {
    height: 30px;
}

.review-img__img {
    border-radius: 50%;
}

.review-info__h4{
    font-size: 20px;
}

.review-info__p {
    font-size: 14px;
}

.review-hr {
    margin: 0;
    border: 1px dashed #888888;
}

.form {
    margin-left: 130px;
}

.form-inner {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    /* padding-left: 100px;  */
}

.form-inner__span {
    font-weight: 700;
}

.name-rate {
    margin-top: 30px;
}

.name-rate, .errors {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.name-rate__name {
    width: 70%;
    padding: 15px 20px;
}

.form-inner__textarea-review {
    resize: none;
    height: 190px;
    padding: 15px 20px;
}

.name-rate__rate {
    width: 25%;
    padding: 15px 20px;
}

.rate-error {
    width: 25%;
}

.name-error {
    width: 70%;
}

.name-error, .rate-error {
    visibility: hidden;  
    padding: 8px 20px;
    background: #DA4A0C;
    color: white;
    line-height: 18px;
    outline: 1px solid #DA4A0C;
}

.name-rate__name, .name-rate__rate, .form-inner__textarea-review {
    outline: 1px solid #888888;
    border: 0;
    font-size: 16px;
}

.name-rate__name::placeholder, .name-rate__rate::placeholder, .form-inner__textarea-review::placeholder{
    color: #888888;
    font-size: 16px;
}

.form-inner__btn {
    padding: 10px 20px;
    width: 177px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 30px;
}

.name-rate__name:hover,
.name-rate__name:focus,
.name-rate__rate:hover,
.name-rate__rate:focus,
.form-inner__textarea-review:hover, 
.form-inner__textarea-review:focus {
     outline: 1px solid #030303;
}

.btn-orange {
    background:  #F36223;
}

.btn-orange:hover {
    background:  #DA4A0C;
}

.btn-orange:active {
    background:  #A93A09;
}
/******************** Правый блок - Сайдбар ********************/ 
.sidebar {
    width: 420px;
    margin-top: 30px;
    flex-shrink: 0;
}

.price {
    background-color: #ffffff; 
    border: 1px solid #EEEEEE; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.old-price {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 10px; 
    justify-content: space-between;
}

.old-price-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.old-price-info__span {
    color: #888888;
}

.old-price-info__btn {
    color: #ffffff; 
    background: #F36223; 
    border-radius: 500px; 
    padding: 4px 8px; 
    border: 0; 
    font-size: 16px; 
}

.old-price-heart {
    visibility: visible;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.old-price-heart-added {
    display: none;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/heart-hover.svg");
    background-size: contain;
}

.heart-added { 
    width: 30px;
    padding-top: 2.8px; 
}

.old-price-heart::before {
    content:"";
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/heart.svg");
    background-size: contain;
    display: inline-block;
}

.old-price-heart:hover::before {
    content:"";
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/heart-hover.svg");
    background-size: contain;
    display: inline-block;
} 

.old-price-heart:active::before{
    content:"";
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/heart-active.svg");
    background-size: contain;
    display: inline-block;
} 
 
.new-price {
    font-size: 32px;
}

.delivery__span {
    font-weight: 700;
}

.delivery {
    margin-bottom: 35px;
}

.basket-add__btn {
    background: #F36223; 
    padding:  20px 49px; 
    color: #ffffff; 
    font-size: 20px; 
    border-radius: 4px; 
    border: 0;
    display: flex;
    gap: 15px;
    align-items:center; 
    width: 100%;
}

.basket-add__btn::before {
    content:"";
    background-image: url("../images/basket.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.advertise__span {
    color: #888888; 
    display: block; 
    margin-bottom: 10px;
}

.advertise-frame {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
}

.advertise-frame__iframe {
    box-sizing: border-box; 
    border: 1px dashed #888888; 
    width: auto;
    border: 1px dashed #cccccc;
}

.footer { 
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 30px 50px;
    font-size: 14px;
}

.footer-info__p {
    margin: 0;
}

.footer-info__span {
    color: #DA4A0C;
}

.footer-info__p_bold {
    font-weight: 700;
}

.up-link {
    font-size: 16px;
}

@media (max-width: 1499px) {
    .table {
        display: none;
    }
    .container {
        padding: 0 15px;
    }
    .review-img__img {
        width: 100px;
        height: 100px;
    }
    .rating-img__gold-star {
        height: 20px;
    }
}

@media (max-width: 1100px) {
    .main-info {
        gap: 40px;
    }
    .sidebar {
        width: 360px;
    }
    .basket-add__btn {
        padding: 20px 60px;
    }
}
@media (max-width: 1300px) {
    .form-inner {
        padding-left: 0;
    }
    .form {
         margin-left: 0;
    }
}

@media (min-width: 1500px) {
    .form {
        margin-left:  230px;
    }
}